/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria;
    color: #444;
}

a {
    text-decoration: none;
    color: #444;
    transition: .4s;
}

a:hover {
    color: #dec129;
}

/* FORM */
form {
    width: 450px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: .4rem;
}

.form-group input,
.form-group textarea {
    padding: .6rem;
    font-size: 0.8rem;
}

input[type='submit']  {
    background-color: #EFEFEF;
    border: 2px solid transparent;
    padding: .45rem .5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: .4s;
}

input[type='submit']:hover {
   color: #dec129;
   border-color:#dec129 ;
   background-color: transparent;
}

.validation-error p {
    color: #e24e4e;
    margin-top: .4rem;
    border-left: 3px solid #e24e4e;
    padding-left: .4rem;
}

.edit-btn,
.remove-btn {
    border: 1px solid #5c5b5b;
    padding: .4rem 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    background-color: #fff;
    transition: .4s;
}

button fa-icon,
a fa-icon {
  margin-right: 0.2em;
}

.edit-btn,
.edit-btn path {
  border-color: #007bff;
  color: #007bff;
}

.edit-btn:hover,
.edit-btn:hover path {
  color: #fff;
  background-color: #007bff;
}

.remove-btn,
.remove-btn path {
  border-color: #dc3545;
  color: #dc3545;
}

.remove-btn:hover,
.remove-btn:hover path {
  color: #fff;
  background-color: #dc3545;
}